* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, sans-serif;
  /* hành động cuộn */
  scroll-behavior: smooth;
  font-size: 15px;
  line-height: 1.5;
}

a {
  display: block;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

h3 {
  font-size: 24px;
}

.right {
  float: right !important;
}

.pd-8-16 {
  padding: 8px 16px;
}

.black {
  background-color: #000 !important;
  color: #fff !important;
}

.opacity {
  opacity: 0.75;
}

.grayscale {
  filter: grayscale(75%);
}

.boder-light-grey {
  border-color: #f1f1f1 !important;
}

.boder-bottom {
  border-bottom: 1px solid #ccc;
}

.mg-10-0 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mg-15-0 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pd-16-0 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pd-32-16 {
  padding: 32px 16px 0 16px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

#main {
  margin: auto;
}

#header {
  /* bám dính */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  background-color: #fff;
  /* nổi lên */
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav {
  letter-spacing: 4px;
}

#nav a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

#nav a:hover {
  background-color: #ccc;
}

#slider {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

#slider .subnav {
  /* display: in; */
  text-align: center;
}

#slider .image {
  position: relative;
  max-width: 100%;
  height: auto;
}

#slider .text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  margin-top: 16px;
  letter-spacing: 4px;
}

#content {
  max-width: 1600px;
}

#content .container-content {
  position: relative;
}

#content .img-content {
  /* display: flex; */
  width: 100%;
}

#content .text-content {
  position: absolute;
  left: 8px;
  top: 0;
  padding: 8px 16px;
}

#content .btn-content {
  display: block;
  font: inherit;
  width: 100%;
  border: none;
  padding: 8px 0;
  cursor: pointer;
}

#content .btn-content:hover {
  background-color: #ccc;
}

#content .input-content {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  font: inherit;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

#content .btn-form {
  display: block;
  border: none;
  padding: 8px 16px;
  margin: 32px 0 16px 0;
  font: inherit;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

#content .btn-form:hover {
  background-color: #ccc;
  color: #000;
}

#content .map {
  max-width: 100%;
  height: auto;
  padding: 8px 32px;
}

#contact {
  padding: 32px 16px;
}

#footer {
  text-align: center;
  padding: 16px;
}

#footer a {
  display: inline;
  color: #fff;
}

#footer a:hover {
  color: #4caf50;
}

/* PC: width >=1024px */
@media (min-width: 64em) {
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
}

/* Tablet: 740 <= width <1024px     740px ~ 612px*/
@media (min-width: 38.25em) and (max-width: 63.9375em) {
  #content .btn-content {
    padding: 12px 0;
  }

  #content .btn-form {
    padding: 12px 16px;
  }
}

/* Mobile width < 740px (611px) */
@media (max-width: 38.25em) {
  #slider .subnav {
    display: none;
  }

  #nav .mobile-nav {
    display: none;
  }

  #content .btn-form {
    width: 100%;
  }
}
